body, html, h1.uk-h1 {
    font-family: 'DM Sans', sans-serif
}

.uk-navbar-nav > li > a:hover > span {
    border-bottom: 1px black solid; 
    transition: 0.5s;
    font-size: larger;
}

.uk-navbar-nav > li > a > span {
    transition: 0.5s;
}