.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly; 
    font-family: 'poppins', sans-serif; 
    padding: 30px 0; 
    background-color: green;
}

.nav li {
    margin: 0;
    background-color: pink;
}